src/pll/pll_0002.v
src/pll/pll_0002.qip
src/pll.spd
src/pll.sip
*.qtl
*.qdb
*.cdb
*.bak
db/Mandelbrot.(0).cnf.hdb
db/Mandelbrot.analyze_file.qmsg
db/Mandelbrot.cbx.xml
db/Mandelbrot.cmp.rdb
db/Mandelbrot.cmp_merge.kpt
db/Mandelbrot.db_info
db/Mandelbrot.hier_info
db/Mandelbrot.hif
db/Mandelbrot.lpc.html
db/Mandelbrot.lpc.rdb
db/Mandelbrot.lpc.txt
db/Mandelbrot.map.ammdb
db/Mandelbrot.map.bpm
db/Mandelbrot.map.hdb
db/Mandelbrot.map.kpt
db/Mandelbrot.map.logdb
db/Mandelbrot.map.qmsg
db/Mandelbrot.map.rdb
db/Mandelbrot.map_bb.hdb
db/Mandelbrot.map_bb.logdb
db/Mandelbrot.npp.qmsg
db/Mandelbrot.pre_map.hdb
db/Mandelbrot.quiproj.43096.rdr.flock
db/Mandelbrot.rtlv.hdb
db/Mandelbrot.sgate.nvd
db/Mandelbrot.sgate_sm.nvd
db/Mandelbrot.sld_design_entry.sci
db/Mandelbrot.sld_design_entry_dsc.sci
db/Mandelbrot.smart_action.txt
db/Mandelbrot.tis_db_list.ddb
db/Mandelbrot.tmw_info
db/Mandelbrot_partition_pins.json
db/prev_cmp_Mandelbrot.qmsg
incremental_db/compiled_partitions/Mandelbrot.db_info
incremental_db/compiled_partitions/Mandelbrot.root_partition.map.dpi
incremental_db/compiled_partitions/Mandelbrot.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/Mandelbrot.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/Mandelbrot.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/Mandelbrot.root_partition.map.hdb
incremental_db/compiled_partitions/Mandelbrot.root_partition.map.kpt
incremental_db/README
Mandelbrot.qpf
Mandelbrot.qsf
Mandelbrot_nativelink_simulation.rpt
output_files/Mandelbrot.done
output_files/Mandelbrot.flow.rpt
output_files/Mandelbrot.map.rpt
output_files/Mandelbrot.map.summary
simulation/questa/ads/_info
simulation/questa/ads/_lib1_0.qpg
simulation/questa/ads/_vmake
simulation/questa/mandelbrot.pbm
simulation/questa/mandelbrot_quick.pbm
simulation/questa/Mandelbrot_run_msim_rtl_vhdl.do
simulation/questa/Mandelbrot_run_msim_rtl_vhdl.do.bak1
simulation/questa/Mandelbrot_run_msim_rtl_vhdl.do.bak10
simulation/questa/Mandelbrot_run_msim_rtl_vhdl.do.bak11
simulation/questa/Mandelbrot_run_msim_rtl_vhdl.do.bak2
simulation/questa/Mandelbrot_run_msim_rtl_vhdl.do.bak3
simulation/questa/Mandelbrot_run_msim_rtl_vhdl.do.bak4
simulation/questa/Mandelbrot_run_msim_rtl_vhdl.do.bak5
simulation/questa/Mandelbrot_run_msim_rtl_vhdl.do.bak6
simulation/questa/Mandelbrot_run_msim_rtl_vhdl.do.bak7
simulation/questa/Mandelbrot_run_msim_rtl_vhdl.do.bak8
simulation/questa/Mandelbrot_run_msim_rtl_vhdl.do.bak9
simulation/questa/modelsim.ini
simulation/questa/msim_transcript
simulation/questa/rtl_work/@_opt/_data/exempt4j61zv
simulation/questa/rtl_work/@_opt/_data/exempt4ni1yq
simulation/questa/rtl_work/@_opt/_data/exempt4sa1xf
simulation/questa/rtl_work/@_opt/_lib1_0.qpg
simulation/questa/rtl_work/@_opt/_lib2_0.qpg
simulation/questa/rtl_work/@_opt/_lib3_0.qpg
simulation/questa/rtl_work/@_opt/_lib4_0.qpg
simulation/questa/rtl_work/@_opt/VH_HASH_DATA
simulation/questa/rtl_work/_info
simulation/questa/rtl_work/_lib1_0.qpg
simulation/questa/rtl_work/_opt__lock
simulation/questa/rtl_work/_vmake
simulation/questa/vlog.opt
simulation/questa/vsim.wlf
simulation/questa/work/_info
simulation/questa/work/_lib1_0.qpg
